:root {
    --logo-font-family: "Instrument Serif", serif;
    --logo-font-weight: 600;
    --logo-font-size: 2rem;
    --nav-btn-font-family: "DN Sans", sans-serif;
    --nav-btn-font-weight: 400;
    --nav-btn-font-size: 1rem;
    --search-title-font-family: "Instrument Serif", sans-serif;
    --search-title-font-weight: 800;
    --search-title-font-size: 2.5rem;
    --search-result-h3-font-family: "Instrument Serif", sans-serif;
    --search-result-h3-font-weight: 600;
    --search-result-h3-font-size: 2rem;
    --fav-title-h4-font-family: "Instrument Serif", serif;
    --fav-title-h4-font-weight: 600;
    --fav-title-h4-font-size: 2rem;
    --search-input-placeholder-font-size: 1.5rem;
    --search-input-placeholder-color: #212529;
    --fav-saved-titles-h3-font-family: "Instrument Serif", sans-serif;
    --fav-saved-titles-h3-font-weight: 600;
    --fav-saved-titles-h3-font-size: 2rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f4ef;
}